[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "kitty/themes"]
	path = kitty/themes
	url = https://github.com/dexpota/kitty-themes
