*.uuid
celebi.txt
*.scm
Noita.desktop
applications/GWENT The Witcher Card Game.desktop
applications/wine-extension-chm.desktop
applications/wine-extension-hlp.desktop
applications/wine-extension-msp.desktop
applications/wine-extension-vbs.desktop
