[Desktop Entry]
Name=Termius
Comment=Desktop SSH Client
Exec=termius --password-store=gnome-libsecret --ozone-platform=wayland %U
Terminal=false
Type=Application
Icon=termius
StartupNotify=true
StartupWMClass=Termius
MimeType=x-scheme-handler/termius;
Categories=System;TerminalEmulator;
