[Desktop Entry]
Name=Vesktop
Exec=vesktop --password-store=gnome-libsecret --ozone-platform=wayland %U
Terminal=false
Type=Application
Icon=vesktop
StartupWMClass=Vesktop
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
