* {
	font-family: Signika Nerd Font, FiraCode, Noto Sans, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-cycle_wall,
#custom-ss,
#custom-dynamic_pill,
#mpd,
#custom-vpn {
	padding: 0 10px;
	border-radius: 15px;
	/* background: #11111b; */
	/* color: #b4befe; */
	box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
}

window#waybar {
	background-color: transparent;
}

#custom-dynamic_pill label {
	color: #11111b;
	font-weight: bold;
}

#custom-dynamic_pill.paused label {
	color: #89b4fa;
	font-weight: bolder;
}

#custom-vpn {
	background: rgba(0, 149, 255, 0.5);
	animation: waterFlow 4s infinite linear;
}

#workspaces button label {
	color: #89b4fa;
	font-weight: bolder;
}

#workspaces button.active label {
	color: #11111b;
	font-weight: bolder;
}

#workspaces {
	background-color: transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 25px;
}
#workspaces button {
	box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
	background-color: #11111b;
	border-radius: 15px;
	margin-right: 10px;
	padding: 10px;
	padding-top: 4px;
	padding-bottom: 2px;
	font-weight: bolder;
	color: #89b4fa;
	transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
	padding-right: 20px;
	box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
	padding-left: 20px;
	background: rgb(203, 166, 247);

	background: radial-gradient(
		circle,
		#ff3898 0%,
		#fe39a4 12%,
		#fb3cc3 19%,
		#f641ee 20%,
		#c447f1 24%,
		#8c4eeb 36%,
		#5b55e4 37%,
		#5b82de 48%,
		#61a9d8 52%,
		#66c4d4 52%,
		#69d1cf 59%,
		#6ad0c8 66%,
		#5761e2 67%,
		#5765e2 68%,
		#5d8ddd 77%,
		#5f9eda 78%,
		#62aed8 82%,
		#64bcd5 83%,
		#67c8d3 90%,
		#6ad0c8 100%
	);
	background-size: 400% 400%;
	animation: gradient_f 20s ease-in-out infinite;
	transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 30%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient_f {
	0% {
		background-position: 0% 200%;
	}
	50% {
		background-position: 200% 0%;
	}
	100% {
		background-position: 400% 200%;
	}
}

@keyframes gradient_f_nh {
	0% {
		background-position: 0% 200%;
	}
	100% {
		background-position: 200% 200%;
	}
}

@keyframes waterFlow {
	0% {
		background-size: 100% 100%;
		background-position: 50% 50%;
	}
	50% {
		background-size: 150% 150%;
		background-position: 40% 40%;
	}
	100% {
		background-size: 100% 100%;
		background-position: 50% 50%;
	}
}

@keyframes rippleEffect {
	0% {
		background-size: 0% 0%;
		opacity: 0.8;
	}
	50% {
		background-size: 120% 120%;
		opacity: 0.4;
	}
	100% {
		background-size: 200% 200%;
		opacity: 0;
	}
}

@keyframes waveAnimation {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

#custom-dynamic_pill.low {
	background: rgb(148, 226, 213);
	background: linear-gradient(
		52deg,
		rgba(148, 226, 213, 1) 0%,
		rgba(137, 220, 235, 1) 19%,
		rgba(116, 199, 236, 1) 43%,
		rgba(137, 180, 250, 1) 56%,
		rgba(180, 190, 254, 1) 80%,
		rgba(186, 187, 241, 1) 100%
	);
	background-size: 300% 300%;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
	animation: gradient 15s ease infinite;
	font-weight: bolder;
	color: #fff;
}
#custom-dynamic_pill.normal {
	background: rgb(148, 226, 213);
	background: radial-gradient(
		circle,
		rgba(148, 226, 213, 1) 0%,
		rgba(156, 227, 191, 1) 21%,
		rgba(249, 226, 175, 1) 34%,
		rgba(158, 227, 186, 1) 35%,
		rgba(163, 227, 169, 1) 59%,
		rgba(148, 226, 213, 1) 74%,
		rgba(164, 227, 167, 1) 74%,
		rgba(166, 227, 161, 1) 100%
	);
	background-size: 400% 400%;
	animation: gradient_f 4s ease infinite;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
	font-weight: bolder;
	color: #fff;
}
#custom-dynamic_pill.critical {
	background: rgb(235, 160, 172);
	background: linear-gradient(
		52deg,
		rgba(235, 160, 172, 1) 0%,
		rgba(243, 139, 168, 1) 30%,
		rgba(231, 130, 132, 1) 48%,
		rgba(250, 179, 135, 1) 77%,
		rgba(249, 226, 175, 1) 100%
	);
	background-size: 300% 300%;
	animation: gradient 15s cubic-bezier(0.55, -0.68, 0.48, 1.68) infinite;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
	font-weight: bolder;
	color: #fff;
}

#custom-dynamic_pill.playing {
	background: rgb(137, 180, 250);
	background: radial-gradient(
		circle,
		rgba(137, 180, 250, 120) 0%,
		rgba(142, 179, 250, 120) 6%,
		rgba(148, 226, 213, 1) 14%,
		rgba(147, 178, 250, 1) 14%,
		rgba(155, 176, 249, 1) 18%,
		rgba(245, 194, 231, 1) 28%,
		rgba(158, 175, 249, 1) 28%,
		rgba(181, 170, 248, 1) 58%,
		rgba(205, 214, 244, 1) 69%,
		rgba(186, 169, 248, 1) 69%,
		rgba(195, 167, 247, 1) 72%,
		rgba(137, 220, 235, 1) 73%,
		rgba(198, 167, 247, 1) 78%,
		rgba(203, 166, 247, 1) 100%
	);
	background-size: 400% 400%;
	animation: gradient_f 9s cubic-bezier(0.72, 0.39, 0.21, 1) infinite;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
	font-weight: bold;
	color: #fff;
}

#custom-dynamic_pill.paused {
	background: #11111b;
	font-weight: bolder;
	color: #b4befe;
}

#custom-ss {
	background: #11111b;
	color: #89b4fa;
	font-weight: bolder;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
}

#custom-cycle_wall {
	background: rgb(245, 194, 231);
	background: linear-gradient(
		45deg,
		rgba(245, 194, 231, 1) 0%,
		rgba(203, 166, 247, 1) 0%,
		rgba(243, 139, 168, 1) 13%,
		rgba(235, 160, 172, 1) 26%,
		rgba(250, 179, 135, 1) 34%,
		rgba(249, 226, 175, 1) 49%,
		rgba(166, 227, 161, 1) 65%,
		rgba(148, 226, 213, 1) 77%,
		rgba(137, 220, 235, 1) 82%,
		rgba(116, 199, 236, 1) 88%,
		rgba(137, 180, 250, 1) 95%
	);
	color: #fff;
	background-size: 500% 500%;
	animation: gradient 7s linear infinite;
	font-weight: bolder;
	border-radius: 15px;
}

#clock label {
	color: #11111b;
	font-weight: bolder;
}

#clock {
	background: radial-gradient(circle, rgba(77, 180, 253, 0.502) 20%, transparent 70%);
	animation: waterFlow 4s infinite linear;
	/* margin-right: 25px; */
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
	font-size: 14px;
	padding-right: 21px;
	font-weight: bolder;
	padding-left: 20px;
}

#clock#date {
	margin-left: 10px;
}

#clock#time {
	background: radial-gradient(circle, rgba(77, 180, 253, 0.502) 20%, transparent 70%);
	animation: waterFlow 4s infinite linear;
	margin-right: 25px;
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
	font-size: 14px;
	padding-right: 21px;
	font-weight: bolder;
	padding-left: 20px;
}

#battery.charging,
#battery.plugged {
	background-color: #94e2d5;
}

#battery {
	background-color: #11111b;
	color: #a6e3a1;
	font-weight: bolder;
	padding-left: 15px;
	padding-right: 15px;
}

@keyframes blink {
	to {
		background-color: #f9e2af;
		color: #96804e;
	}
}

#battery.critical:not(.charging) {
	background-color: #f38ba8;
	color: #bf5673;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cpu {
	background: radial-gradient(circle, rgba(0, 149, 255, 0.5) 20%, transparent 70%);
	animation: waterFlow 4s infinite linear;
}

#cpu.warning {
	background: radial-gradient(circle, rgba(238, 255, 0, 0.607) 15%, transparent 70%);
	animation: waterFlow 4s infinite linear;
}

#cpu.critical {
	background: radial-gradient(circle, rgba(255, 0, 0, 0.5) 15%, transparent 70%);
	animation: waterFlow 4s infinite linear;
}

#memory {
	background: radial-gradient(circle, rgba(0, 149, 255, 0.5) 20%, transparent 70%);
	animation: waterFlow 4s infinite linear;
	font-weight: bolder;
}

#disk {
	color: #964b00;
}

#backlight {
	color: #90b1b1;
}

#network {
	background: radial-gradient(circle, rgba(0, 149, 255, 0.5) 20%, transparent 70%);
	animation: waterFlow 4s infinite linear;
}

#network .label,
#network .value {
	color: #00ffff;
	text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff;
	font-weight: bold;
}

@keyframes neonPulse {
	from {
		box-shadow: 0 0 15px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.4);
	}
	to {
		box-shadow: 0 0 25px rgba(0, 255, 255, 1), 0 0 50px rgba(0, 255, 255, 0.6);
	}
}

#network.disabled {
	background-color: #45475a;
}

#network.disconnected {
	background: rgb(243, 139, 168);
	background: linear-gradient(45deg, rgba(243, 139, 168, 1) 0%, rgba(250, 179, 135, 1) 100%);
	color: #fff;
	font-weight: bolder;
	padding-top: 3px;
	padding-right: 11px;
}

#network.linked,
#network.wifi {
	background-color: #a6e3a1;
}

#pulseaudio {
	background: radial-gradient(circle, rgba(0, 149, 255, 0.5) 20%, transparent 70%);
	animation: waterFlow 4s infinite linear;
	font-weight: bolder;
}

#pulseaudio.muted {
	background-color: #90b1b1;
}

#custom-media {
	color: #66cc99;
}

#custom-media.custom-spotify {
	background-color: #66cc99;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}

#temperature {
	background: radial-gradient(circle, rgba(0, 149, 255, 0.5) 20%, transparent 70%);
	animation: waterFlow 4s infinite linear;
	color: #00ff00;
	text-shadow: 0 0 5px #00ff0080, 0 0 5px #00ff0080, 0 0 5px #00ff0080;
	font-weight: bold;
}

#temperature.critical {
	background: radial-gradient(circle, rgba(0, 0, 255, 0.5) 20%, transparent 70%);
	animation: waterFlow 4s infinite linear;
	color: #ff0000;
	text-shadow: 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000;
	font-weight: bold;
}

#tray {
	background: radial-gradient(circle, rgba(41, 128, 185, 0.5) 20%, transparent 70%);
	animation: waterFlow 4s infinite linear;
}

#tray .item {
	color: #00ffff; /* Neon cyan for icons */
	text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}
